

<span mat->Devices</span>

<p *ngIf="!devices">
    <em>Loading...</em>
</p>

<table class='table' *ngIf="devices">
    <thead>
        <tr>
            <th>ID</th>
            <th>Connection State</th>
            <th>
                <input [(ngModel)] ='message'/>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let device of devices; let i=index;">
            <td>{{ device.id }}</td>
            <td>{{ device.connectionState }}</td>
            <td>
                <input type='button' value='Send' (click)='sendMessageClicked(i)' />
            </td>
        </tr>
    </tbody>
</table>