.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.red-font{
  color: red;
}

.green-font{
  color:greenyellow;
}

.btn-send{
margin:auto;
}

.btn-call{
  margin:auto;
}

.form-input{
  width:90%;
  margin:auto;
}

.mat-list-item{
  word-break: break-all;
  text-align: left;
}