<div class="grid-container">
    <!-- <h1 class="mat-h1">Devices</h1> -->
    <mat-grid-list cols="3" rowHeight="500px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <!-- <mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title> -->
                    <!-- <p *ngIf='IsDataLoading'>
                        <em>Loading...</em>
                    </p> -->

                    <mat-progress-bar mode="indeterminate" *ngIf='IsDataLoading'></mat-progress-bar>

                </mat-card-header>
                <mat-card-content class="dashboard-card-content">

                    <!-- <table class='table' *ngIf="devices">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Connection State</th>
                        <th>
                            <input [(ngModel)] ='message'/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of devices; let i=index;">
                        <td>{{ device.id }}</td>
                        <td>{{ device.connectionState }}</td>
                        <td>
                            <input type='button' value='Send' (click)='sendMessageClicked(i)' />
                        </td>
                    </tr>
                </tbody>
            </table> -->

                    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

                        <!-- Id Column -->
                        <ng-container matColumnDef="id-connectionstate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'red-font':row.connectionState=='Disconnected','green-font':row.connectionState == 'Connected' }">
                                <!-- <img src="../../../../assets/images/g-connected.jpeg" width="20px" height="20px" *ngIf="row.connectionState=='Connected'">
                                <img src="../../../../assets/images/red-disconnected.png" width="20px" height="20px" *ngIf="row.connectionState=='Disconnected'"> -->

                                <button matBadge="" matBadgeSize="small" mat-raised-button matBadgePosition='after' matBadgeOverlap="true" matBadgeColor="accent"
                                    *ngIf="row.connectionState == 'Disconnected'">{{row.id}}</button>
                                <button matBadge="" matBadgeSize="small" mat-raised-button matBadgePosition='after' matBadgeOverlap="true" matBadgeColor="primary"
                                    *ngIf="row.connectionState == 'Connected'">{{row.id}}</button>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="send-message">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field class="form-input">
                                    <input type="text" matInput placeholder="Message" [(ngModel)]='message'>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button mat-stroked-button color="primary" matTooltip="Send Message" class="btn-send" (click)="sendMessageClicked(row.id)">
                                    <mat-icon>send</mat-icon> Send
                                </button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="call-operation">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field class="form-input">
                                    <mat-select placeholder="Method" [(ngModel)]='operation'>
                                        <mat-option *ngFor="let method of allowedMethods" [value]="method">
                                            {{ method }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">

                                <button mat-stroked-button color="accent" matTooltip="Call Method" class="btn-call" aria-label="Toggle menu" (click)='callOperationClicked(row.id)'>
                                    <mat-icon>input</mat-icon> Call
                                </button>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <div *ngIf='IsTableVisible'>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </div>
                    </mat-table>

                    <mat-paginator #paginator [length]="dataSource.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
                    </mat-paginator>

                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <em>live feed</em>
                        <!--               
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu> -->
                    </mat-card-title>


                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <!-- <button mat-raised-button matBadgePosition='after' *ngFor="let messageContent of messages; let i=index;">{{messageContent}}</button> -->
                    <mat-list dense>
                        <mat-list-item *ngFor="let messageContent of messages; let i=index;" class="mat-list-item">
                            {{messageContent}}
                        </mat-list-item>
                    </mat-list>

                    
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>